body {
    background-color: #D1E8E2;
}
.news-list {
    list-style: none;
}
.news-block {
    width: 700px;
    height: 330px;
    display: flex;
    margin: 20px;
    background-color: #F5FFF9;
    position: relative;
    &:hover {
        background-color: #D1E8D5;
        /*.news-block__image-container {
            //
            img {
                //
            }
        }*/
    }
    .news-block__image-container {
        width: 200px;
        height: 100%;
        overflow: hidden;
        flex: 200px;
        background-color: #D1E8D5;
        &:hover {
            height: 100%;
            width: 700px;
            flex: 700px;
            cursor: pointer;
            position: absolute;
            img {
                width: 700px;
                height: auto;
                left: 0px;
                margin: 0;
                position: relative;
            }
        }
        img {
            height: 100%;
            width: auto;
            left: -50%;
            margin-left: -50px;
            position: relative;
        }
    }
    .news-block__content-container {
        width: 500px;
        height: 100%;
        flex: 500px;
        padding: 20px;

        .news-block__content-container__cta {
            position: absolute;
            cursor: pointer;
            bottom: 0px;
            width: 100%;
            height: 40px;
            span {
                line-height: 40px;
            }
        }
    }
}